<!DOCTYPE html>

<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/me.jpg" alt="">

            <h4>{{name}}</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat risus et auctor euismod. Duis malesuada rhoncus risus sed posuere. Praesent vehicula dui nunc, vitae varius lacus posuere venenatis. Duis condimentum cursus dui, ut dignissim sapien fringilla non. Etiam ullamcorper dui sed libero fermentum egestas. Donec ornare erat metus, ac luctus lorem consequat nec. Curabitur turpis dui, vestibulum non purus at, laoreet dignissim purus.</p>

        </div>

        {{>footer}}
    </body>
</html>